@model Listing

<!-- Når vi trykker på en listing kommer vi hit-->
<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Listing Id</dt>
        <dd class="col-sm-10">@Model.ListingId</dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Image URL</dt>
    </dl>
    <img src="@Model.ImageUrl" />
    
    <a asp-controller="Rent" asp-action="RentView">View</a>
</div>