@model RentDetailsViewModel

<head>
    <title> Booking Details</title>
    <style>

        .booking-detail {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
            background-color: #f9f9f9;
            padding: 50px;
            margin: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr; /* Creates 3 equal columns */
            gap: 20px;
        }

            .booking-detail h3 {
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .booking-detail p {
                margin: 5px 0;
            }

            .booking-detail:hover {
                background-color: lightslategray;
                opacity: 0.8;
            }

    </style>
</head>
<body>

    <h2>Booking Details</h2>
    <p><strong>Customer ID:</strong> @Model.Rent?.CustomerId</p>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }
    @if (Model.RentListings != null)
    {
    @foreach (var rentListing in Model.RentListings)
    {
            if (rentListing.Listing != null)
            {
        <div class="booking-detail">
            <h3>Booking Detail:</h3>
            <br/>
            <p><strong>Name:</strong> @rentListing.Listing.Name</p>
            <p><strong>Price:</strong> @rentListing.Listing.Price.ToString("C")</p> 
            <p><strong>Description:</strong> @rentListing.Listing.Description</p>
            <p><strong>Start Date:</strong> @rentListing.StartDate.ToString("d")</p> 
            <p><strong>End Date:</strong> @rentListing.EndDate.ToString("d")</p>
            <p><strong>Days Booked:</strong> @(rentListing.EndDate - rentListing.StartDate).Days</p>
            <p><strong>Rent Price:</strong> @rentListing.RentListingPrice.ToString("C")</p> 
        </div>
            }
        }
    }

</body>

