@model RentDetailsViewModel

<h2>Booking Details</h2>
<p><strong>Customer ID:</strong> @Model.Rent?.CustomerId</p>


    <div>
        <h3>Booking Details:</h3>
        <p><strong>Name:</strong> @Model.Listing?.Name</p>
        <p><strong>Price:</strong> @Model.Listing?.Price</p>
        <p><strong>Description:</strong> @Model.Listing?.Description</p>
    <p><strong>Start Date:</strong> @Model.Rent?.StartDate</p>
    <p><strong>End Date:</strong> @Model.Rent?.EndDate</p>
    <p><strong>Days Booked:</strong> @(Model.Rent?.EndDate - Model.Rent?.StartDate).Days</p>
    <p><strong>Rent Price:</strong> @Model.Rent?.RentListingPrice</p>
    </div>
