@model RentDetailsViewModel

<head>
    <title> Booking Details</title>

</head>
<body>

    <h2>Booking Details</h2>
    <p><strong>Customer ID:</strong> @Model.Rent?.CustomerId</p>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }
    @if (Model.RentListings != null)
    {
    @foreach (var rentListing in Model.RentListings)
    {
            if (rentListing.Listing != null)
            {
        <div class="booking-detail">
            <h3>Booking Detail:</h3>
            <br/>
            <p><strong>Name:</strong> @rentListing.Listing.Name</p>
            <p><strong>Price:</strong> @rentListing.Listing.Price.ToString("C")</p> 
            <p><strong>Description:</strong> @rentListing.Listing.Description</p>
            <p><strong>Start Date:</strong> @rentListing.StartDate.ToString("d")</p> 
            <p><strong>End Date:</strong> @rentListing.EndDate.ToString("d")</p>
            <p><strong>Days Booked:</strong> @(rentListing.EndDate - rentListing.StartDate).Days</p>
            <p><strong>Rent Price:</strong> @rentListing.RentListingPrice.ToString("C")</p> 
        </div>
            }
        }
    }

</body>

