@model IEnumerable<Listing>

<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }

    .listing-box {
        border: 1px solid #ccc;
        margin: 1%;
        width: 300px; 
        display: flex;
        flex-direction: column;
        transition: transform 0.3s;
        cursor: pointer;
        border-radius: 10px;
    }

        .listing-box:hover {
            transform: scale(1.05);
        }

    .listing-image {
        flex: 1;
        overflow: hidden;
        position: relative;
    }

        .listing-image img {
            width: 100%; 
            object-fit: cover;
            height: 200px; 
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

    .listing-details {
        padding: 10px;
        overflow: hidden;
    }

    .listing-name {
        font-weight: bold;
    }

    .listing-description {
        color: grey;
    }

    .listing-price {
        font-weight: bold;
    }

    .create-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .image-switch-button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .image-switch-button::before {
            content: "→";
            font-size: 18px;
            color: #fff;
        }

    .listing-image:hover .image-switch-button {
        opacity: 1;
    }
</style>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<div class="container">

    @foreach (var listing in Model)
    {
        <div class="listing-box">
            <div class="listing-image">
                <img src="@listing.ImageUrl" alt="Listing Image" class="img-fluid" />
                <img src="@listing.ImageUrl1" alt="Listing Image" class="img-fluid" style="display: none;" />
                <div class="image-switch-button" onclick="toggleImage(event)"></div>
            </div>
            <div class="listing-details" onclick="location.href='@Url.Action("ListingView", "Listing", new { id = listing.ListingId })'">
                <div class="listing-name">
                    <a>@listing.Name</a>
                </div>
                <div class="listing-description">
                    <a>@listing.Description</a>
                </div>
                <div class="listing-price">
                    <a>@listing.Price.ToString("0.00 NOK")</a>
                </div>

                <div class="action-links">
                    <a asp-action="Update" asp-route-id="@listing.ListingId">Update</a>
                    <a asp-action="Delete" asp-route-id="@listing.ListingId">Delete</a>
                </div>
            </div>
        </div>
    }
    <p class="create-button">
        <a class="btn btn-secondary" asp-controller="Listing" asp-action="Create">Create new Listing</a>
    </p>
</div>

<script>
    function toggleImage(event) {
        event.stopPropagation(); 
        const button = event.target;
        const imageContainer = button.parentElement;
        const images = imageContainer.querySelectorAll("img");
        images.forEach((img) => {
            img.style.display = img.style.display === "none" ? "block" : "none";
        });
    }
</script>